{% extends "base.html" %}

{% block title %}View Accident Log{% endblock %}

{% block content %}
<h2>Accident Logs</h2>

{% if accidents %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Description</th>
                <th>Location</th>
                <th>Date</th>
                <th>Time</th>
                <th>First Aid Given</th>
                <th>First Aider</th>
                <th>First Aid Details</th>
                <th>Reported By</th>
            </tr>
        </thead>
        <tbody>
            {% for accident in accidents %}
            <tr>
                <td>{{ accident.title }}</td>
                <td>{{ accident.type }}</td>
                <td>{{ accident.description }}</td>
                <td>{{ accident.location }}</td>
                <td>{{ accident.date }}</td>
                <td>{{ accident.time }}</td>
                <td>{{ accident.firstaid }}</td>
                <td>{{ accident.firstaider }}</td>
                <td>{{ accident.firstaiddetails }}</td>
                <td>{{ accident.reported_by }}</td>
                {{ accident }}
            </tr>

            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No accident reports available.</p>
{% endif %}
{% endblock %}
